# ==========================================
# Local working files (not public)
# ==========================================

# --- Simulation outputs ---
VIBE_outputs/**
!VIBE_outputs/**/.gitkeep

# --- YAML parameter files ---
yamls/**/*.yaml
yamls/**/*.yml

# --- Jupyter notebooks ---
notebooks/**/*.ipynb
notebooks/**/.ipynb_checkpoints/**

# --- Bash outputs ---
bash/bash_output/**

# ==========================================
# Python / runtime
# ==========================================
__pycache__/
*.pyc
src/*.egg-info/

# ==========================================
# Jupyter (global safety)
# ==========================================
.ipynb_checkpoints/**

# ==========================================
# SLURM / cluster outputs
# ==========================================
*.out
*.err
*.log
